{% extends 'layout.html' %}

{% block head %} 

{% endblock %}

   
{% block body %}
 <p>Todo App Powered By Flask</p>

{% endblock %}
<table>
    <tr>
        <th>Todo</th>
        <th>Actions</th>

    </tr>

    <tr>
        <td></td>
        <td>
            <a href="">Delete task</a><br>
            <a href="">Update task</a>


        </td>

    </tr>
</table>

<form action="/", method="POST">
    <input type ="text" name="content" id="content">
    <input type="submit" value="Create Task">
    
</form>